---
layout: layout.njk
permalink: /project/data/
---
{% set theJs %}
    {% include 'project-data.js' %}
{% endset %}
<!-- Page Heading -->

 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Project Data</h1>

    <div class="mb-3">
        <label for="pageActionSelect">Actions</label><select class="form-control" id="pageActionSelect">
            <option value="0">Select</option>
            <!--<option>Publish</option>-->
            <option  value="1">Import</option>
            <option  value="2">Export</option>
            <option  value="3">Schema</option>
            <option  value="4">Template</option>
            <option  value="5">Download</option>
            <option  value="6">Add Record</option>
            <option  value="7">Back</option>

        </select>
    </div>

</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Currect project Data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table id="example" class="display" width="100%"></table>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"></table>
        </div>
    </div>
</div>
{% if env.ENVIRONMENT == 'local' %}
    <script type="text/javascript">{{theJs | safe}}</script>
{% else %}
    <script type="text/javascript">{{theJs | jsmin | safe}}</script>
{% endif %}
<script type="text/javascript" src="/assets/js/jszip.min.js"></script>

