---
layout: layout-template.njk

permalink: /project/template/view/
---
<div id="projectemplate">
Loading template
</div>
{% set theJs %}
    {% include 'project-template-view.js' %}
{% endset %}
{% if env.ENVIRONMENT == 'local' %}
    <script type="text/javascript">{{theJs | safe}}</script>
{% else %}
    <script type="text/javascript">{{theJs | jsmin | safe}}</script>
{% endif %}